*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    padding: 1.5rem;
}
header{
  
}.text{
    font-size: x-large;
   
}#btn{
    padding: 0.5rem;
    border-radius: 1rem;
    border: none;
    color: rgb(0, 0, 0);
    border: 1px solid grey;
    padding-left: 1rem;
    background-color: transparent;
    padding-right: 1rem;
    padding-top: 0.5rem;
    
}.container2{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.9rem;
}.mainimg{
    height: 340px;
    width: 340px;
}.main{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}.change{
    color: indigo;
}.btn2{
    padding: 0.5rem;
    padding-right: 8rem;
    padding-left: 8rem;
    color: white;
    background-color: green;
    border-radius: 10px;
    border: none;
}
.container3{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
  }.rdiv{
      display: flex;
      flex-direction: column;
      gap: 3rem;
  }.container4{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      padding: 2rem;
  }.s2{
      background-color: rgb(167, 167, 167);
   
      color: white;
  }.img2{
      height: 300px;
  }.container5{
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 2rem;
  }
  .pic3{
    height: 300px;
    width: 400px;
  }
  .container6{
     display: flex;  
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 2rem;
     gap: 0.6rem;
  }
  .content3{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .img4{
    height: 300px;
  }
  .container7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  .content4{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }.container8{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
  .content5{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

@media only screen and (min-width: 990px){
    .main{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1.5rem;
        width: 100%;
        height: 400px;
        padding-left: 4rem;
        padding-right: 4rem;
       
    }.mainimg{
        height: 540px;
        width: 540px;
    }.text{
        font-size: xx-large;
       
    }#btn{
        padding: 0.5rem;
        border-radius: 1rem;
        border: none;
        color: rgb(0, 0, 0);
        border: 1px solid grey;
        padding-left: 1rem;
        background-color: transparent;
        padding-right: 1rem;
        padding-top: 0.5rem;
        font-size: x-large;
        
    }.container7{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
       
      }.img2{
        height: 400px;
    }.container4{
        font-size: x-large;
        padding: 5rem;
      } .pic3{
        height: 400px;
        width: 500px;
      }
      h1{
        font-size: 60px
      }.text2{
        font-size: x-large;
      }.btn2{
        font-size: x-large;
      }
      .container3{
        font-size: x-large;
      }
      .s2{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
      }
    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1250px;
        margin-left: auto;
        margin-right: auto;
        height: 70px;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .rdiv{
        display: flex;
        gap: 3rem;
    } .img4{
        height: 400px;
      }
    .container5{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 4rem;
        font-size: x-large;
    }
    .container6{
        display: flex;  
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 4rem;
        gap: 0.6rem;
        font-size: x-large;
     }
     .container7{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        padding: 4rem;
        gap: 0.6rem;
        font-size: x-large;
        
      }
      .container8{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        padding: 4rem;
        gap: 1rem

      }
      .rdiv, h2{
        margin-top: 5rem;
      }
}

